body {
	position: fixed;
	top:0;
	bottom:0;
	left: 0;
	right:0;
}
header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 150px;
}

header > div {
	padding-left: 90px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
}

/* Placement de l'input couleur */
header span +  div input {
    margin-top: 5px;
}

/* Placement du titre le conteneur h1 (login) */
header h1 {
    padding-left: 5px;
    padding-right: 5px;
}

#options-tchat div{
	margin-right: 10px;
}


p {
    margin: 0;
}

h1 {
	display:flex;
    flex-direction: row;
    margin: 0;

}

.option {
	cursor: pointer;
}

.affichage-voiture {
	display: none;
}

.cacher {
	display: none !important;
}

/* Placement des cases à cocher "Deconnexion" et "cacher le login" */
.chk-header-right {
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
    right: 0;
	top: 25px;
	margin-top: 5px;
	margin-right: 5px;
}

#communication-formulaire {
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#communication-formulaire div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#textbox-login {
    height: 50px;
    text-align:center;
    margin-bottom: 10px;
	width: 400px;
}

#submit-login {
    height: 50px;
}





section#section-1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-grow: 1;
    overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 100px);
}

.sous-section {
	position: relative;
	max-width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 4px groove gray;
	width: 45%;
	height: calc(100% - 100px);
	overflow: auto;
}
input[type='text'] {
	width: 400px;
}
input[type='button'], input[type='submit'] {
	width: 300px;
}
#socket-message {
	border:2px solid black;
	width: 90%;
	min-height: 50px;
	max-height: 150px;
	min-width: calc(100% - 10px);
	max-width: calc(100% - 10px);
}

.chat {
	position: relative;
	display: flex;
	border: 2px solid black;
	background: gray;
	min-height: 50px;
	max-height: 150px;
	min-width: calc(100% - 8px);
	max-width: calc(100% - 8px);
	margin-bottom: 10px;
	color: white;
	overflow: auto;
}

.message-admin {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-style: bold;
	height: 50px;
}
.paragraphe-admin {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 0;
	background: #C2C1C1;
	font-style: bold;
	color: black;
	height: 60px;
}
.paragraphe-admin-login{
	position: fixed;
	top:0;
	right:0;
	left: 0;
	display: flex;
    flex-direction: row;
    justify-content: center;
	background: #C2C1C1;
    font-style: bold;
    color: black;
    height: 60px;
}
.titre {
	width: 200px;
}

#div-liste-utilisateurs {
    display: flex;
    flex-direction: column;
    align-items: center;
	border-top: 1px solid black;
    height: 300px;
    overflow: auto;
}

#liste-utilisateurs {
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: auto;
    width: 100%;
}
#liste-utilisateurs p.utilisateur {
	font-size: 15px;
    font-weight: bold;
}

@media screen  and (max-width: 1280px){
body {
	display: flex; 
	flex-direction: column;
	justify-content: space-between;
}


header > div {
    padding-left: 0px;
    padding-right: 0px;
}


/* Placement du titre le conteneur h1 (login) */
header h1 {
	font-size: 20px;
	margin-top: 10px;
}

/* Placement des div input couleur + titre h1 (login) */
header span + div {
    margin-left: 0px;
}

.affichage-voiture {
    display: inline;
}





section#section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#section-2 {
	overflow: auto;
	display: flex;
	height: 100px;
}
#section-2.loupe {
    height: 150px;
}

#sous-section-2 {
	display: none;
}
#sous-section-3 {
	overflow: auto;
	height: 100%;
}
.sous-section {
    justify-content: flex-start;
	width: calc(100% - 8px);
	max-width: 100%;
	overflow: auto;
}


.sous-section:first-child {
    flex-grow: 1;
}
#encart-tete {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1px;
}
#encart-ecriture-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
	border: 3px groove gray;
	margin-bottom: 2px;
	padding-top: 2px;
}


#encart-ecriture-message p:first-child {
	flex-grow:1;
	overflow: auto;
}

.paragraphe-admin {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 25px;
    margin-bottom: 0;
}
.message-admin {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-style: bold;
    height: 25px;
}




/* TextBox du message à écrire */
#socket-message {
	width: 95%;
    min-width: 95%;
    max-width: 95%;
	min-height: 30px;
	max-height: 30px;
}
#socket-message.loupe {
    min-height: 50px;
    max-height: 50px;
}


#envoi-socket-message {
	width: 35px;
	height: 35px;
	margin-right: 10px;
}
#envoi-socket-message.loupe {
    width: 56px;
    height: 56px;
}


#chat {
    flex-grow: 1;
    overflow: auto;
}

.chat {
    min-height: 37px;
    max-height: 37px;
    min-width: calc(100% - 14px);
    max-width: calc(100% - 14px);
    color: white;
    overflow: auto;
	font-size: 11px;
}
.chat.loupe {
	min-height: 55px;
    max-height: 55px;
    font-size: 20px;
}


#div-liste-utilisateurs {
	display: flex;
	flex-direction: column;
	font-size: 10px;
    width: 100%;
	height: 98%;
	border-top: none;
}
#liste-utilisateurs {
	flex-grow: 1;
	width: calc(100% - 4px);
	overflow: auto;
}
#liste-utilisateurs p.utilisateur {
    font-size: 11px;
}

#liste-utilisateurs p.utilisateur.loupe {
    font-size: 20px;
}




}
